<li class='photo-card'>
   <a class='photo-card__link' href={{largeImageURL}}>
      <img
         class='photo-card__image'
         src={{webformatURL}}
         alt={{tags}}
         loading='lazy'
      />

      <div class='info'>
         <p class='info-item'>
            <b>Likes <span class='info-item__value'>{{likes}}</span></b>
         </p>
         <p class='info-item'>
            <b>Views <span class='info-item__value'>{{views}}</span></b>
         </p>
         <p class='info-item'>
            <b>Comments <span class='info-item__value'>{{comments}}</span></b>
         </p>
         <p class='info-item'>
            <b>Downloads <span class='info-item__value'>{{downloads}}</span></b>
         </p>
      </div>
   </a>

</li>